<div  *ngFor="let comentario of comentarios">
    <!--<mat-divider></mat-divider>
    <p> <strong> {{comentario.by}} </strong> |</p>  
    <p  [innerHTML]="comentario.text"></p>-->
   <mat-accordion displayMode="default" [multi]="true"
                  [hideToggle]="false">
       <mat-expansion-panel [expanded]="comentario != null" [hideToggle]="false">
           <mat-expansion-panel-header> <strong> {{comentario.by}} </strong></mat-expansion-panel-header>
            <p [innerHTML]="comentario.text"></p>
            <div class="divNone" *ngIf="comentario.kids != null">
              <div class="divNone" *ngFor="let item of comentario.kids">
                  <app-coments [id]="item"></app-coments>
              </div>
            </div>
       </mat-expansion-panel>
   </mat-accordion>
</div>