<mat-card>
    <mat-card-header>
        <mat-card-title> Pagina no encontrada</mat-card-title>
        <mat-card-subtitle>Error 404</mat-card-subtitle>
    </mat-card-header>
    <img matCardImage src="">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions align="end">
        <button color="primary" mat-button (click)="goBack()">Volver Atras</button>
        <a color="primary" mat-raised-button routerLink="/top/" >Pagina Principal </a>
        
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
</mat-card>
